
# Postgres

# modify postgres username and password
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=genshin_wiki_api_development
DATABASE_URL=postgres://genshin_wiki_api:postgres@db:5432/genshin_wiki_api_development
TEST_DATABASE_URL=postgres://postgres:postgres@db/genshin_wiki_api_test
