
# Postgres

# modify postgres andd password
POSTGRES_PASSWORD=postgres
POSTGRES_DB=genshin_wiki_api_development
DATABASE_URL=postgres://postgres:password@db:5432/genshin_wiki_api_development
TEST_DATABASE_URL=postgres://postgres:postgres@db.qoqadev.ch/genshin_wiki_api__test


